.container {
  background: #89dbff;
    // height: 100vh;
  .zhanwei {
    margin-bottom: 20px;
    height: 10px;
  }
  .image-container {
    margin: 0 15px;
    height: 230px;
    border-radius: 20px;
    background-color: #fff;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .text-info {
    font-size: 38px;
    font-weight: 700;
    padding: 0 150px;
    height: 80px;
    margin: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .picker-container {
    height: 100px;
    margin: 20px 15px;
    border-radius: 20px;

    .ossa-list {
      border-radius: 20px;
      border: 0;
      font-size: 35px;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(4px);
      .ossa-list__title {
        font-size: 35px;
      }
    }
  }
  .tab-container {
    margin: 20px 15px;
    // height: 1500px;
    .ossa-tabs-header__tab {
      border-radius: 20px;
      font-size: 35px;
    }
    // .ossa-tabs-panel {
    // //   height: 1200px;
    // }
    

  }
  .no-login-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .txt {
      font-size: 34px;
      color: #666;
    }
    .login-btn {
      background: #014ea9;
      width: 536px;
      height: 88px;
      margin-top: 80px;
      border-radius: 88px;
      font-size: 36px;
      line-height: 88px;
      color: #fff;
    }
  }

}
